Quantitative Momentum is an investment strategy which selects for investment the stocks whose price appreciated the most during a period (usually the recent year, ignoring the most recent month). Momentum is considered a primary stock factor (a.k.a anomaly, or smart-beta factor) affecting stock returns.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

In [55]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy.stats import percentileofscore as score

We are going to gather and parse all of the momentum metrics for all of our stocks in our universe. Than calculate percentile scores for all of those metrics. Then rank those stocks based on those percentile scores. Then select the 50 stocks that have the highest average percentile score across a broad basket of momentum metrics.

In [45]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

Instead of trying to pull "price" and "market cap" from IEX  we will pull price in 1 year stock return.
https://iexcloud.io/docs/api/
Key search "changepercentage". Copy "Key Stats" endpoint: /stock/{symbol}/stats/{stat?}.  
Key search Sandbox. Need sandbox base API endpoint: https://sandbox.iexapis.com

In [46]:
#making just 1 API call for Apple
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
#datatest = requests.get(api_url)
data = requests.get(api_url).json()
#datatest (should be 200)
data
#copy year1ChangePercent

{'companyName': 'Apple Inc',
 'marketcap': 2140937892665,
 'week52high': 151.39,
 'week52low': 53.58,
 'week52highSplitAdjustOnly': 147.27,
 'week52lowSplitAdjustOnly': 55.6,
 'week52change': 0.7295912722092789,
 'sharesOutstanding': 17343172531,
 'float': 0,
 'avg10Volume': 95928929,
 'avg30Volume': 99584739,
 'day200MovingAvg': 126.4,
 'day50MovingAvg': 139.39,
 'employees': 150243,
 'ttmEPS': 3.81,
 'ttmDividendRate': 0.821937959810789,
 'dividendYield': 0.006597783653265842,
 'nextDividendDate': '0',
 'exDividendDate': '2021-02-04',
 'nextEarningsDate': '2021-01-17',
 'peRatio': 33.93843355134235,
 'beta': 1.1447869499896144,
 'maxChangePercent': 48.92896239432179,
 'year5ChangePercent': 4.604959003449458,
 'year2ChangePercent': 2.05760860335132,
 'year1ChangePercent': 0.6510918518943616,
 'ytdChangePercent': -0.05030359742432184,
 'month6ChangePercent': 0.01672494782419949,
 'month3ChangePercent': 0.07832149584476523,
 'month1ChangePercent': -0.09425434296100757,
 'day30ChangePercent': -0.09478901931197183,
 'day5ChangePercent': -0.07065167877266817}

In [47]:
data['year1ChangePercent']

0.6510918518943616

Executing A Batch API Call & Building Our DataFrame.
Similiar to Building An Equal-Weight S&P 500 Index Fund.

In [48]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Note: Concerning Batch Requests we don't want to query multiple enpoints for 1 stock or "/stock/{symbol}/batch" under Batch Requests. We want to query 1 endpoint for multiple staocks. So we need "/stock/market/batch
symbols=aapl,fb,tsla&types=quote,news,chart&range=1m&last=5".

We're looping over our symbol strings object and creating a batch API url call for those symbol strings that hits two different endpoint, "price" and "stats". We use the request library to execute an HTTP request to get the data in the form of a JSON object. Fort every symbol in the comma sepreated string of symbols, we spit them using thrt spilt method to get a list of them. Then we'll loop over that list to append the data foir each symbol tpo our empty pandas dataframe.

In [49]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  125.240              0.484246                     N/A
1      AAL   20.820             -0.265285                     N/A
2      AAP  167.780              0.202824                     N/A
3     AAPL  127.370              0.650312                     N/A
4     ABBV  108.510              0.195788                     N/A
..     ...      ...                   ...                     ...
500    YUM  105.630             0.0360363                     N/A
501    ZBH  161.816             0.0274841                     N/A
502   ZBRA  507.840               1.10074                     N/A
503   ZION   55.410              0.227373                     N/A
504    ZTS  164.000              0.132772                     N/A

[505 rows x 4 columns]

We want the top 50 highest-momentum stocks in the S&P 500. To do this, we will sort he DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.
Note: without inplace = True method, it will not modify original dataframe.

In [50]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
#modifying final dataframe 
final_dataframe = final_dataframe[:51]
#reset_index set 0-50
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price One-Year Price Return Number of Shares to Buy
0    CARR    38.310               2.20365                     N/A
1     FCX    38.310               2.19378                     N/A
2    VIAC    65.920               1.50388                     N/A
3    PYPL   265.450               1.29845                     N/A
4    ALGN   556.090               1.24549                     N/A
5      LB    53.000               1.13838                     N/A
6    ZBRA   507.840               1.10074                     N/A
7    SIVB   524.949               1.08635                     N/A
8    KLAC   316.246               1.01129                     N/A
9     URI   303.830               1.00909                     N/A
10   NVDA   564.195               0.99256                     N/A
11    PWR    78.950              0.981272                     N/A
12     DE   333.342              0.969322                     N/A
13   ABMD   319.570              0.944989                     N/A
14   IDXX   537.000              0.935702                     N/A
15  DISCA    50.240              0.904128                     N/A
16   LRCX   559.470              0.847627                     N/A
17   TWTR    72.470              0.841422                     N/A
18   AMAT   115.790              0.835581                     N/A
19   CDNS   137.190               0.79973                     N/A
20   QRVO   170.400              0.773723                     N/A
21   APTV   147.600              0.755087                     N/A
22    ALB   153.424              0.754003                     N/A
23   SNPS   251.020              0.735771                     N/A
24   IPGP   231.220              0.719351                     N/A
25   TSCO   168.700              0.678014                     N/A
26   QCOM   135.570              0.672807                     N/A
27  DISCK    43.571                0.6707                     N/A
28   NWSA    23.833              0.666226                     N/A
29    UPS   160.539              0.659179                     N/A
30   AVGO   477.960              0.656306                     N/A
31   SWKS   184.250              0.654708                     N/A
32   EBAY    60.974              0.654586                     N/A
33   AAPL   127.370              0.650312                     N/A
34    TGT   190.100               0.64394                     N/A
35   TTWO   186.923               0.63733                     N/A
36    CAT   223.650              0.631044                     N/A
37   MKTX   541.620              0.626319                     N/A
38    WST   277.960              0.624083                     N/A
39    AMD    84.760              0.621111                     N/A
40    NWS    22.877              0.615931                     N/A
41    FDX   259.390              0.610827                     N/A
42   MXIM    92.720              0.610219                     N/A
43    EMN   113.870              0.608349                     N/A
44    NOW   559.870              0.599408                     N/A
45   ILMN   459.840              0.595572                     N/A
46    MOS    29.682              0.590595                     N/A
47    CMG  1435.570              0.561516                     N/A
48   ATVI    97.350              0.557347                     N/A
49    CMI   257.110              0.545518                     N/A
50     GM    50.700              0.536701                     N/A

We then build a python function to retreive the data instead of copying and pasting.

In [51]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:10000000
10000000

In [54]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe['Price'][i])

final_dataframe

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0    CARR    38.310               2.20365                    5118
1     FCX    38.310               2.19378                    5118
2    VIAC    65.920               1.50388                    2974
3    PYPL   265.450               1.29845                     738
4    ALGN   556.090               1.24549                     352
5      LB    53.000               1.13838                    3699
6    ZBRA   507.840               1.10074                     386
7    SIVB   524.949               1.08635                     373
8    KLAC   316.246               1.01129                     620
9     URI   303.830               1.00909                     645
10   NVDA   564.195               0.99256                     347
11    PWR    78.950              0.981272                    2483
12     DE   333.342              0.969322                     588
13   ABMD   319.570              0.944989                     613
14   IDXX   537.000              0.935702                     365
15  DISCA    50.240              0.904128                    3902
16   LRCX   559.470              0.847627                     350
17   TWTR    72.470              0.841422                    2705
18   AMAT   115.790              0.835581                    1693
19   CDNS   137.190               0.79973                    1429
20   QRVO   170.400              0.773723                    1150
21   APTV   147.600              0.755087                    1328
22    ALB   153.424              0.754003                    1278
23   SNPS   251.020              0.735771                     781
24   IPGP   231.220              0.719351                     848
25   TSCO   168.700              0.678014                    1162
26   QCOM   135.570              0.672807                    1446
27  DISCK    43.571                0.6707                    4500
28   NWSA    23.833              0.666226                    8227
29    UPS   160.539              0.659179                    1221
30   AVGO   477.960              0.656306                     410
31   SWKS   184.250              0.654708                    1064
32   EBAY    60.974              0.654586                    3215
33   AAPL   127.370              0.650312                    1539
34    TGT   190.100               0.64394                    1031
35   TTWO   186.923               0.63733                    1048
36    CAT   223.650              0.631044                     876
37   MKTX   541.620              0.626319                     362
38    WST   277.960              0.624083                     705
39    AMD    84.760              0.621111                    2313
40    NWS    22.877              0.615931                    8570
41    FDX   259.390              0.610827                     755
42   MXIM    92.720              0.610219                    2114
43    EMN   113.870              0.608349                    1721
44    NOW   559.870              0.599408                     350
45   ILMN   459.840              0.595572                     426
46    MOS    29.682              0.590595                    6605
47    CMG  1435.570              0.561516                     136
48   ATVI    97.350              0.557347                    2014
49    CMI   257.110              0.545518                     762
50     GM    50.700              0.536701                    3867

Building a Better (and More Realistic) Momentum Strategy
Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:
    High-quality momentum stocks show "slow and steady"     
        outperformance over long periods of time
    Low-quality momentum stocks might not show any momentum 
        for a long time, and then surge upwards.
The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).
To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of:
     1-month price returns
     3-month price returns
     6-month price returns
     1-year price returns

We build the datafrmae.

In [26]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

calculate momentum percentile scores for every stock for following metrics:

   One-Year Price Return
   Six-Month Price Return
   Three-Month Price Return
   One-Month Price Return

Creating an array called time_periods and creating a string for each time period.
Creating a loop to calculate all of the percentile scores.
The inner loop will loop over time_periods object.
We use the loc method to change the value of each time period column.

In [63]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

In [64]:
#code as followed but error in code.
for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile'
        hqm_dataframe.loc[row, percentile_col]  = score(hqm_dataframe[change_col], hqm_dataframe.loc[row, change_col])

        
#hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

In [65]:
#error in code
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]


for row in hqm_dataframe.index:
    for time_period in time_periods:
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

    #Print the entire DataFrame    
#hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

In [66]:
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,125.44,N/A,0.485002,0,0.265657,0,0.118605,0,-0.0224695,0,N/A
1,AAL,20.81,N/A,-0.274719,0,0.701294,0,0.632757,0,0.294136,0,N/A
2,AAP,165.93,N/A,0.208699,0,0.0792102,0,0.16764,0,0.0252199,0,N/A
3,AAPL,126.20,N/A,0.651185,0,0.0169734,0,0.0759451,0,-0.0949733,0,N/A
4,ABBV,111.38,N/A,0.19154,0,0.16375,0,0.0771799,0,-0.0347932,0,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.12,N/A,0.0349918,0,0.112677,0,0.00976516,0,-0.0149203,0,N/A
501,ZBH,168.40,N/A,0.0279444,0,0.187938,0,0.103673,0,-0.00432593,0,N/A
502,ZBRA,510.34,N/A,1.09584,0,0.794627,0,0.377542,0,0.199988,0,N/A
503,ZION,55.34,N/A,0.226577,0,0.738756,0,0.411551,0,0.119501,0,N/A
504,ZTS,166.89,N/A,0.132235,0,0.012997,0,-0.03765,0,-0.0203104,0,N/A

Calculating the HQM Score
We'll now calculate our HQM Score, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.
The HQM Score will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.
To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [67]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

Selecting the 50 Best Momentum Stocks
As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the HQM Score column and dropping all but the top 50 entries.

In [68]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]


Calculating the Number of Shares to Buy
We'll use the portfolio_input function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe

In [69]:
portfolio_input()

Enter the value of your portfolio:1000000

In [70]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,125.440,156,0.485002,0,0.265657,0,0.118605,0,-0.0224695,0,0
1,AAL,20.810,942,-0.274719,0,0.701294,0,0.632757,0,0.294136,0,0
2,AAP,165.930,118,0.208699,0,0.0792102,0,0.16764,0,0.0252199,0,0
3,AAPL,126.200,155,0.651185,0,0.0169734,0,0.0759451,0,-0.0949733,0,0
4,ABBV,111.380,176,0.19154,0,0.16375,0,0.0771799,0,-0.0347932,0,0
5,ABC,105.600,185,0.115157,0,0.0909166,0,0.0618314,0,-0.011277,0,0
6,ABMD,319.200,61,0.948067,0,0.0508554,0,0.204979,0,-0.0751824,0,0
7,ABT,126.640,154,0.44281,0,0.214798,0,0.113641,0,0.0896721,0,0
8,ACN,260.630,75,0.218585,0,0.0719731,0,0.0419022,0,-0.00855198,0,0
9,ADBE,475.220,41,0.256495,0,-0.012749,0,0.00967923,0,-0.0112321,0,0
10,ADI,157.820,124,0.33001,0,0.395631,0,0.187942,0,0.0236122,0,0
11,ADM,57.180,342,0.340814,0,0.325965,0,0.182443,0,0.0858986,0,0
12,ADP,178.029,110,-0.0207602,0,0.257671,0,0.00274261,0,0.0569095,0,0
13,ADSK,300.220,65,0.494678,0,0.208846,0,0.169481,0,-0.00502445,0,0
14,AEE,72.600,270,-0.152181,0,-0.115283,0,-0.0916597,0,-0.026012,0,0
15,AEP,78.700,249,-0.226813,0,-0.012483,0,-0.0630912,0,-0.05786,0,0
16,AES,27.092,723,0.360376,0,0.53348,0,0.344217,0,0.00291553,0,0
17,AFL,50.970,384,-0.0244905,0,0.373562,0,0.123139,0,0.0611316,0,0
18,AIG,45.590,430,-0.0544637,0,0.618027,0,0.1561,0,0.102845,0,0
19,AIV,5.170,3792,-0.31503,0,0.0634921,0,0.194577,0,0.00831625,0,0
20,AIZ,129.513,151,-0.0813871,0,0.0641527,0,-0.0490844,0,-0.0550124,0,0
21,AJG,121.050,161,0.14312,0,0.185137,0,0.0519314,0,0.0272137,0,0
22,AKAM,99.200,197,-0.0248069,0,-0.11673,0,-0.0431944,0,-0.103226,0,0
23,ALB,157.953,124,0.739815,0,0.780924,0,0.230541,0,-0.101307,0,0
24,ALGN,575.730,34,1.25526,0,0.987329,0,0.309995,0,0.0891745,0,0
25,ALK,66.780,293,-0.0283866,0,0.799034,0,0.348202,0,0.167919,0,0
26,ALL,105.930,185,-0.131794,0,0.130667,0,0.0581665,0,-0.0480579,0,0
27,ALLE,112.030,175,-0.14908,0,0.0945401,0,-0.0341222,0,-0.041404,0,0
28,ALXN,162.140,120,0.501514,0,0.542967,0,0.283646,0,-0.0313074,0,0
29,AMAT,113.540,172,0.839258,0,0.866509,0,0.514483,0,0.0870752,0,0
30,AMCR,11.906,1646,0.165824,0,0.0511292,0,-0.034202,0,0.0310495,0,0
31,AMD,83.750,234,0.620872,0,0.018846,0,0.0089326,0,-0.0838269,0,0
32,AME,120.050,163,0.224618,0,0.203358,0,0.025985,0,0.0245938,0,0
33,AMGN,242.590,80,0.0702595,0,-0.0122454,0,0.0470651,0,-0.0837103,0,0
34,AMP,236.030,83,0.329357,0,0.499772,0,0.270373,0,0.0728571,0,0
35,AMT,233.190,84,-0.0738026,0,-0.0921196,0,-0.0278432,0,0.00539203,0,0
36,AMZN,3193.470,6,0.538621,0,-0.0329872,0,0.0263581,0,-0.0345261,0,0
37,ANET,288.300,68,0.31637,0,0.319283,0,0.0903239,0,-0.0622127,0,0
38,ANSS,384.430,51,0.34868,0,0.185484,0,0.204258,0,0.0240375,0,0
39,ANTM,305.770,64,0.0170632,0,0.0472721,0,-0.0297046,0,-0.0593142,0,0
40,AON,229.591,85,0.476288,0,0.19516,0,0.159438,0,0.115079,0,0
41,AOS,61.920,316,0.433972,0,0.287358,0,0.110777,0,0.0773166,0,0
42,APA,19.870,986,-0.320349,0,0.346095,0,0.684373,0,0.164951,0,0
43,APD,269.380,72,0.0669371,0,-0.0645613,0,-0.0138,0,-0.0657815,0,0
44,APH,127.620,153,0.303825,0,0.215813,0,0.0237342,0,-0.017656,0,0
45,APTV,151.431,129,0.75202,0,0.910259,0,0.385637,0,0.126727,0,0
46,ARE,164.450,119,0.01407,0,-0.0164219,0,0.0165404,0,-0.0180633,0,0
47,ATO,91.590,214,-0.238119,0,-0.11099,0,-0.0620678,0,0.0103621,0,0
48,ATVI,98.800,198,0.538201,0,0.164932,0,0.261367,0,0.0231802,0,0
49,AVB,187.790,104,-0.187614,0,0.201956,0,0.0494059,0,0.0828453,0,0
50,AVGO,476.140,N/A,0.651359,0,0.470581,0,0.264333,0,0.0252278,0,0


Formatting Our Excel Output
We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.
XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [71]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

In [72]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [73]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

In [74]:
writer.save()